body {
	background-color: #dcdcdc;
	text-align: center;

}

h1{
	text-align: center;
	color: rgb(255,140,150);
	font-size: 50px
}

h2{
	text-align: center;
	font-size: 30px;
	color: rgb(255,100,100);
	border: double 5px green;
	padding: 20px;
	margin: 20px;
}
p{
	text-align: left;
	font-size: 25px;
}
span {color: rgb(55,35,247);
}

#imagem-1 {
	width: 30%;
	height: 30%;
	margin-right: 60%;
	border: solid 5px red;
}

#imagem-2{
	width: 40%;
	height: 60%;
	margin-left: 55%;
	border: double 5px black;
}

.niveis{
	background-color: white;
	margin-right: 85%;
	text-align: 30px;
}

.simbolo{
	margin-left: 5px;
}

li::marker{
	content:"\0394";
	color: blue;
	font-size: 20;
}

.imagem-3{
	
	width: 40%;
	height: 60%;
	margin-right: 55%;
	border: double 5px black;
	
}

ul {
	display: inline-block;
	vertical-align: top;
	padding-right: 20%;
	margin-left: 10%;
}